.table{
    table-layout:fixed;  
    width:100%;
}
.table td{
    white-space: nowrap;text-overflow: ellipsis;overflow: hidden;  
}
.go{
    height:80px;
    padding-top:25px;
    padding-left:25px;
}
#into{
    border:1px solid #ccc;
    width:50px;
}
#goto{
    background:#ccc;
}